name: Java BUild with Maven

on:
  push:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 25
        uses: actions/setup-java@v4 
        with:
          java-version: '25'
          distribution: 'zulu'
          cache: maven
      - name: Build Application
        run: mvn -B package --file pom.xml

      - name: Update dependency graph
        uses: advanced-security/maven-dependency-submission-action@v4
        
